*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
}



.inledning{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.infoRuta{
    border: 2px solid rgb(255, 255, 255);
    height: 400px;
    width: 500px;
    margin-right: 50px;
    margin-top: 50px;
}

.text1, .webbensHistoria, .viktigaTeknologier{
    color: white;
    font-size: 20px;
    margin: 50px;
}
.logo{
    width: 200px;
    height: auto;
}


.sökruta{
    margin: auto;   
    margin-right: 430px ;
}
.Topbar{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;

}
.infoRuta{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBild{
    height: 220px;
    margin: 15px;
    align-items: center;
}

.datum, .skapare, .publicerad{
    color: white;
    font-size: 20px;
    margin: 10px;
}


a{
    color: rgb(0, 153, 255);
}

.info{
    color: white;
    width: 70%;
    height: auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

#sslinfo{
    margin-top: 10px;
}

#dnsinfo{
    margin-top: 10px;
}

#htmlinfo{
    margin-top: 10px;
}

#cssinfo{
    margin-top: 10px;
}

#cachninginfo{
    margin-top: 10px;
}

#seoinfo{
    margin-top: 10px;
}

#datainfo{
    margin-top: 10px;
}


#copyrightInfo{
    margin-top: 10px;
}

.länkTillProgramering{
    margin: 40px;
}

.länken{
    font-size: 25px;

}
.ProgrammeringsHistoria{
    color: white;
    font-size: 20px;
}

.Ada{
     border: 2px solid rgb(255, 255, 255);
    height: 350px;
    width: 350px;
    margin-right: 50px;
    margin-top: 50px;
    color: white;
}