*{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
}


.inledning{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.infoRuta{
    border: 2px solid rgb(255, 255, 255);
    height: 500px;
    margin-right: 50px;
    margin-top: 50px;
}

.text1{
    color: white;
    font-size: 20px;
    margin: 50px;
}
.logo{
    width: 200px;
    height: auto;
}