*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.ProgrammeringsHistoria{
    color: white;
    font-size: 20px;
    margin: 20px;
}

.AIHistoria{
    color: white;
    font-size: 20px;
    margin: 20px;
}